//Navbar

header.landing-page{
    position: fixed;
    width: 100%;
    z-index: 2;

    .nav-wrapper.scrolled{
        background: $secondary-color;
        transition: ease-in-out 0.3s;

        nav.navbar{

            .hamburger{

                i{
                    transition: all 0.3s;
                    color: black;
                    transition: none;
                }
            }
        }
    }

    nav.navbar{
        width: 100%;
        display: flex;
        flex-direction: row;

        .logo{
            z-index: 2;
        }

        ul{
            width: 100%;
            list-style: none;
            font-size: 20px;
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: flex-start;
            align-items: center;
            margin-left: 15px;
            
            li{
                list-style: none;
                margin: 5px 16px;

                a{
                    position: relative;
                    color: $primary-color;
                    font-family: $primaryFont;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 500;
                    padding: 10px 0;

                    i{
                        color: $primary-color;
                    }
                }

                a::before, a::after{
                    content: "";
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    background: $accent;
                    left: 0;
                    transform: scaleX(0);
                    transition: all 0.3s;
                }

                a::before{
                    top: 0;
                    transform-origin: left;
                }

                a::after{
                    bottom: 0;
                    transform-origin: right;
                }

                a:hover::before, a:hover::after{
                    transform: scaleX(1);
                }

                a.icons::before, a.icons::after{
                    content: none;
                }

                .home{
                    font-weight: 900;
                }
            }
        }

        .hamburger{
            display: none;

            a{
                margin: 0 20px;

                i{
                    transition: all 0.3s;
                    font-size: 25px;
                    color: $primary-color;
                }
            }

            button{
                margin-left: 20px;

                i{
                    transition: 0.3s;
                }
            }

        }
        
    }

    .hamburger-menu{
        transform: translateX(200%);
        transition: all 0.3s;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        background: $secondary-color;

        ul{
            list-style: none;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            li{
                margin: 20px 0;

                a{
                    color: $primary-color;
                    text-decoration: none;
                    font-family: $primaryFont;
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 20px;
                }
            }
        }
    }

    .hamburger-menu.active{
        transform: translateX(0%);
        transition: all 0.3s;
    }
}

// Landing Section

section.landing{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .landing-wrapper{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;

        h1{
            text-align: left;
            margin: 40px 0 0 0;
        }

        p{
            font-family: $primaryFont;
            font-weight: 500;
            margin: 20px 0;
            font-size: 18px;
        }

        a{
            @include button-properties;
            margin-bottom: 0;
        }

        div{
            flex-basis: 40%;
            position: relative;
            z-index: 1;
        }

        .center-box{
            margin-left: -200px;
            text-align: right;
            background: $secondary-color;
            padding: 25px 10px 25px 50px;
            z-index: 0;
        }
    }
}

// Information Section

section.information, section.information-other-pages{
    width: 100%;
    background: $primary-color;
    
    .information-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        ul.information-ul, ul.contact-ul{
            margin: 60px 0 0 0;
            padding: 0 0 300px 0;
            list-style: none;
            display: flex;
            color: white;
            justify-content: space-evenly;

            li{
                width: 20%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;

                img{
                    background: $accent;
                    padding: 5px;
                    border-radius: 50%;
                }

                h5{
                    margin: 25px 0;
                    font-family: $secondaryFont;
                    font-size: 30px;
                    font-weight: 700;
                    text-align: center;
                }

                p{
                    font-family: $primaryFont;
                    font-size: 18px;
                    font-weight: 400;
                    text-align: center;
                }
            }
        }
    }
}

// More Products

section.more-products{
    margin: -300px 0 0 0;
    
    figure{
        width: 100%;
        margin: 50px 0 0 0;

        ul.more-products{
            list-style: none;
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;

            li{
                width: 33%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;

                img.products{
                    width: 100%;
                }

                a{
                    color: $primary-color;
                    text-align: center;
                    font-family: $secondaryFont;
                    font-weight: 700;
                    text-decoration: none;
                    cursor: pointer;
                    font-size: 28px; //Not using original size because I think it's too big

                    img{
                        width: 10%;
                    }
                }
            }

            li.middle-category{
                margin: 100px 0 0 0;
            }
        }
    }
}

// About Us Section

.orange-box{
    width: 420px;
    background: $secondary-color;
    position: absolute;
    margin: 0 0 10px 0;
    z-index: 0;
}

section.about-us{
    width: 100%;
    margin: 150px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    overflow-x: hidden;


    div.content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        aside{
            width: 35%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 0 40px;

            .responsive-image{
                display: none;
                width: 100%;
    
                img{
                    display: none;
                }
            }

            p{
                font-size: 18px;
                margin: 40px 0 50px 0;
                color: $primary-color;
                font-family: $primaryFont;
                font-weight: 400;
            }

            ul{
                list-style: none;


                li{
                    font-size: 18px;
                    font-family: $primaryFont;
                    color: $primary-color;
                    font-weight: 400;
                    margin: 15px 0;
                    position: relative;
                    padding-left: 45px;
                    line-height: 30px;
                }

                li::before{
                    content: url(../images/list-bullet.svg);
                    position: absolute;
                    left: 0;
                    top: 5%;
                }
            }

            a{
                @include button-properties;
            }
        }

        figure{
            width: 50%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            align-content: center;
            position: relative;

            .orange-box.index{
                height: 110%;
                right: -10%;
            }

            img{
                z-index: 1;
            }
            
        }
    }
}

//Trending and Other Products

section.trending-other-products{
    margin-top: 150px;

    .trending-other-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            text-align: center;
        }

        ul{
            margin-top: 50px;
            list-style-type: none;
            display: flex;
            width: 100%;
            justify-content: center;
            align-content: center;

            li{
                display: flex;
                flex-direction: column;
                width: 30%;
                font-size: 30px;
                align-items: center;

                .products-image{
                    width: 90%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #FFF4EE;

                    img{
                        width: 100%;
                    }
                }

                #review-stars{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 10px 0;

                    i{
                        margin: 0 5px;
                        font-size: 20px;
                    }

                    i.fa-regular{
                        color: $accent;
                    }

                    i.fa-solid{
                        color: $accent;
                    }
                }

                h4{
                    font-family: $secondaryFont;
                    font-weight: 700;
                    color: $primary-color;
                    text-align: center;
                    width: 80%;
                }

                span{
                    color: $primary-color;
                    font-family: $secondaryFont;
                    font-weight: 900;
                }

                a.button{
                    @include button-properties;
                }
            }
        }
    }
}

//Company Information 

section.company-information{
    margin: 150px 0;

    ul{
        list-style: none;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;

        li{
            width: 23%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            align-content: center;
            font-family: $secondaryFont;
            color: $primary-color;
            background: #F0F0F0;
            padding: 80px 0;
            
            h3{
                font-size: 80px;
            }

            h3::after{
                content: '+';
            }

            h5{
                font-size: 40px;
            }
        }
    }
}

//Most bought item for the current month

section.most-bought{
    
    article{
        display: flex;
        flex-direction: column;
        align-items: center;

        .about-item{
            display: flex;
            align-items: stretch;
            justify-content: space-around;
            align-content: center;
            margin: 40px 0;

            figure{
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: 90%;
                }
            }

            .item-description{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-evenly;
                align-content: center;
                color: $primary-color;

                #review-stars{
                    margin: 10px 0;

                    i{
                        color: $accent;
                        font-size: 20px;
                        margin: 0 5px;
                    }
                }

                h3{
                    font-size: 30px;
                    font-weight: 700;
                }

                h5{
                    font-weight: 400;
                    font-size: 18px;
                    font-family: $primaryFont;
                }          
                
                .interact-buttons{
                    display: flex;

                    button{
                        background: transparent;
                        padding: 20px;
                        outline: none;
                        border: 1px solid #E0E0E0;
                        font-size: 20px;
                        cursor: pointer;
                    }

                    button:not(:first-child):not(:last-child) {
                        padding: 0 30px;
                    }
                }

                a{
                    @include button-properties;
                }
            }
        }
    }
}

//Testimonial Section

section.testimonials{
    margin-top: 200px;
    width: 100%;
    background: no-repeat center url(../images/Testimonial-background.png);
    background-size: cover;
        
    .testimonial-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        color: $primary-color;

        h1{
            margin-top: -100px;
        }

        .testimonial{
            display: flex;
            width: 50%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 120px 0;

            img{
                margin-bottom: -70px;
                z-index: 1;
            }

            .testimonial-content{
                background: $secondary-color url(../images/quote.png) no-repeat;
                background-position: 0% 50%;
                font-size: 18px;
                font-family: $primaryFont;
                padding: 100px 0 50px 0;
                width: 100%;
                max-width: 100;

                .carousel-item{
                    display: flex;
                    align-items: center;
                    
                    div{
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        
                        p{
                            width: 90%;
                            user-select: none;
                            text-align: center;
                        }
        
                        h5{
                            user-select: none;
                            margin-top: 40px;
                        }
                    }
                }
            }
        }
    }
}

//Subscribe Section

section.subscribe{
    margin: 100px 0;
    
    .subscribe-content{
        position: relative;
        display: flex;

        img.golden-ellipse{
            position: absolute;
            left: 50%;
            max-height: 100%;
        }

        .subscribe-text{
            padding: 100px 0;
            width: 60%;
            z-index: 1;

            h1{
                font-size: 50px;
                text-align: start;
            }
        }
    
        .subscribe-btn{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            background: $secondary-color url(../images/enevelope.png) center no-repeat;
            background-size: contain;

            img.responsive-golden-ellipse{
                display: none
            }
            
            a{
                @include button-properties;
                z-index: 2;
            }
        }
    }
}

//Recommended Products

section.recommended-product{
    background: url(../images/model-wearing-jewelry.png) no-repeat center;
    background-size: cover;

    .recommended{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .product-info{
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: flex-start;
            width: 50%;
            margin: 200px 0;

            #review-stars{
                margin: 10px 0;

                i{
                    font-size: 20px;
                    margin: 0 5px;
                    color: $secondary-color;
                }
            }

            h2{
                font-size: 30px;
                margin: 10px 0;
                color: white;
                font-weight: 700;
                font-family: $secondaryFont;
            }

            p{
                font-family: $primaryFont;
                margin: 10px 0;
                font-weight: 400;
                font-size: 18px;
                color: white;
                width: 80%;
            }

            .cart-buttons{
                display: flex;

                button{
                    font-family: $primaryFont;
                    background: transparent;
                    color: white;
                    padding: 10px;
                    outline: none;
                    border: 0.8px solid #E0E0E0;
                    font-size: 18px;
                    cursor: pointer;
                }

                button:not(:first-child):not(:last-child) {
                    padding: 0 25px;
                }
            }

            a{
                margin: 50px 0 0 0;
                
                @include button-properties;
            }
        }
    }
}

//Other products is identical to Treding products

//Footer

footer{
    margin: 150px 0 20px 0;

    .footer-area{
        background: $primary-color;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .upper-area{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: center;

            figure{
                width: 35%;
                margin-bottom: 40px;

                img{
                    margin-top: -60px;
                    width: 100%;
                }
            }

            .footer-links{
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                
                .social-media{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    hr{
                        height: 0;
                        width: 50%;
                        background: #127402;
                        border: 1px solid #127402;
                        outline: none;
                        margin: 0;
                    }

                    .icons{
                        width: 47%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-evenly;
                        
                        p{
                            color: white;
                            font-family: $primaryFont;
                            font-size: 22px;
                            font-weight: 700;
                        }
    
                        a{
                            text-decoration: none;

                            i{
                                cursor: pointer;
                                color: #FFDAC5;
                                background: #127402;
                                border-radius: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                align-content: center;
                                height: 40px;
                                width: 40px;
                            }
                        }
                    }
                }

                .other-links{
                    display: flex;
                    flex-direction: row;

                    ul{
                        list-style: none;
                        width: 33.33%;

                        h4{
                            font-size: 22px;
                            font-family: $secondaryFont;
                            color: white;
                            font-weight: 700;
                        }

                        li{
                            margin: 15px 0;

                            a{
                                font-size: 18px;
                                font-weight: 400;
                                font-family: $primaryFont;
                                color: white;
                                text-decoration: none;

                                i{
                                    margin: 0 10px 0 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        hr{
            height: 0;
            width: 90%;
            background: #127402;
            border: 1px solid #127402;
            outline: none;
            margin: 0;
        }

        .bottom-area{
            width: 100%;
            margin: 30px 0;
            display: flex;
            justify-content: space-around;

            a{
                font-family: $primaryFont;
                font-weight: 400;
                font-size: 18px;
                color: white;
            }

            p{
                font-family: $primaryFont;
                font-weight: 400;
                font-size: 18px;
                color: white;
            }
        }
    }
}