section.item-detail{

    .container{
        display: flex;
        flex-direction: row;
        padding-top: 200px;
        justify-content: space-between;

        .product-images{
            width: 40%;

            figure.upper{
                width: 100%;
                display: flex;
                align-items: stretch;
                justify-content: center;
                align-content: center;
                background: #FFF4EE;
            }

            div.bottom{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                img.arrow{
                    width: 5%;
                    background: none;
                    transition: 0.3s;
                    cursor: pointer;
                }

                img.arrow:hover{
                    opacity: .5;
                }

                &__slider{
                    display: flex;
                    flex-wrap: nowrap;
                    overflow: hidden;
                    scroll-behavior: smooth;

                    img.thumbnail{
                        margin: 20px 0;
                        cursor: pointer;
                        width: 70%;
                        max-width: 100%;
                        opacity: 0.5;
                        background: #FFF4EE;
                        width: 25%;
                        margin-right: 20px;
                    }

                    img.thumbnail.active{
                        opacity: 1;
                    }

                    img.thumbnail:hover{
                        opacity: 1;
                    }
                }
            }
        }

        .about-product{
            width: 55%;
            display: flex;
            align-items: stretch;
            

            .container-item{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                color: $primary-color;
                justify-content: space-evenly;
                margin: 50px 0;

                h3{
                    font-size: 30px;
                    font-weight: 700;
                    font-family: $secondaryFont;
                }
    
                h5{
                    font-weight: 400;
                    font-size: 18px;
                    font-family: $primaryFont;
                } 
    
                .interact-buttons{
                    display: flex;
    
                    button{
                        background: transparent;
                        padding: 20px;
                        outline: none;
                        border: 1px solid #E0E0E0;
                        font-size: 20px;
                        font-family: $primaryFont;
                        cursor: pointer;
                    }
    
                    button:not(:first-child):not(:last-child) {
                        padding: 0 30px;
                    }
                }
    
                a.cart{
                    @include button-properties;
                }
    
                .tags{
                    font-family: $primaryFont;
    
                    h6{
                        font-size: 18px;
                        display: inline;
                    }
    
                    span{
                        border: 1px solid #F0F0F0;
                        padding: 5px 10px;
                        border-radius: 30px;
                        margin: 0 5px;
                        cursor: pointer;
                    }
                }
    
                .share{
                    font-family: $primaryFont;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 20px;
    
                    h6{
                        font-size: 18px;
                        display: inline;
                    }
    
                    a{
                        text-decoration: none;
                        padding: 0;
                        margin: 0 5px;
    
                        i{
                            cursor: pointer;
                            color: #FFDAC5;
                            background: #127402;
                            border-radius: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            align-content: center;
                            height: 40px;
                            width: 40px;
                        }
                    }
                }
            }
        }
    }
}

//Tabs

section.tabs{
    margin: 100px 0;

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        flex-direction: column;

        ul.tab-ul{
            width: 70%;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;

            li{
                width: 40%;
                font-family: $secondaryFont;
                color: $primary-color;
                font-weight: 700;
                font-size: 30px;
                display: flex;
                justify-content: center;
                cursor: pointer;
                padding: 10px 0;
                text-align: center;
            }

            li:last-child{
                width: 20%;
            }

            li:hover, li.active{
                background: #FFF4EE;
            }
        }

        @keyframes fadeTab {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        ul.tab-content{
            width: 50%;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            list-style: none;
            animation: fadeTab 1s;

            li{
                font-family: $primaryFont;
                color: $primary-color;
                font-size: 18px;
                font-weight: 400;
                margin: 20px 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                img{
                    margin: 0 20px;
                }

                div{
                    width: 80%;

                    span{
                        display: inline;
                        font-weight: 700;
                    }
    
                    p{
                        display: inline;
                    }
                }
            }
        }
    }

    .accordian{
        display: none;
        width: 100%;

        button{
            width: 100%;
            font-family: $secondaryFont;
            font-weight: 700;
            font-size: 25px;
            outline: none;
            border: none;
            background: #f0f0f0;
            color: $primary-color;
            display: flex;
            align-items: center;
            padding: 10px;
            position: relative;
        }

        button:after{
            font-family: "Font Awesome 5 Free";
            content: '\f067';
            font-size: 25px;
            position: absolute;
            right: 10px;
        }

        button.active{
            background: #FFF4EE;
        }

        button.active:after{
            font-family: "Font Awesome 5 Free";
            content: "\f068";
        }

        .accordian-content{
            display: flex;
            flex-direction: column;
            background: #f0f0f0;

            .panel{
                display: flex;
                margin: 20px;
                align-items: flex-start;
                justify-content: center;
                justify-content: space-between;

                img{
                    width: 20%;
                }
    
                div{
                    width: 75%;
                    
                    span, p{
                        font-family: $primaryFont;
                        font-size: 16px;
                        color: $primary-color;
                        font-weight: 400;
                        display: inline;
                    }
    
                    span{
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

//We Promise

section.promise{

    article{

        .content-story{

            .content-text{
                justify-content: center;

                .about-products{

                    h1{
                        margin: 0 0 40px 0;
                        text-align: left;
                        width: 70%;
                    }
                }

                .responsive-image{
                    display: none;
                }
            }
        }
    }
}

//Reviews

section.reviews{
    margin-top: 100px;

    .container{
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .view{
            width: 70%;
            display: flex;
            flex-direction: column;

            .stars{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                span{
                    font-size: 35px;
                    font-family: $secondaryFont;
                    font-weight: 700;
                    color: $primary-color;
                    display: flex;
                    align-items: flex-end;

                    #review-stars{
        
                        i{
                            font-size: 20px;
                            margin: 0 5px;
                            color: $accent;
                        }
                    }
                }

                p{
                    font-weight: 400;
                    font-family: $primaryFont;
                    font-size: 20px;
                    color: $primary-color;
                    margin: 10px 0;
                }

                ul{
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    width: 70%;
                    align-items: flex-start;

                    li{
                        width: 80%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        position: relative;
                        margin: 5px 0;
                        
                        span{
                            font-family: $primaryFont;
                            font-size: 20px;
                        }

                        progress{
                            appearance: none;
                            width: 70%;
                            border: 0;
                        }

                        progress[value]::-webkit-progress-bar{
                            background-color: #F0F0F0;
                        }

                        progress[value]::-webkit-progress-value{
                            background-color: $accent;
                        }
                    }

                    li::after{
                        position: absolute;
                        content: '50%';
                        left: 103%;
                        color: $primary-color;
                        font-weight: 400;
                        font-family: $primaryFont;
                        font-size: 20px;
                    }
                }
            }

            .written{
                width: 100%;
                margin-top: 50px;
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: space-between;

                div{
                    width: 45%;
                    display: flex;
                    background: #F0F0F0;
                    padding: 10px 20px;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .user-info{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        justify-content: center;
                        padding: 10px 0;

                        img.profile{
                            width: 20%;
                        }

                        .name{
                            width: 60%;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: center;
                            padding-right: 0;

                            #review-stars{
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-start;
                                padding: 0;
                                margin: 10px 0;

                                i{
                                    margin-right: 5px;
                                    color: $accent;
                                }
                            }

                            h4{
                                font-family: $primaryFont;
                                color: $primary-color;
                                font-size: 20px;
                                font-weight: 500;
                            }
                        }
                    }

                    .user-review{
                        width: 100%;
                        font-size: 16px;
                        font-family: $primaryFont;
                        font-weight: 400;
                        padding: 10px 0;
                    }
                }
            }
        }

        .write{
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            #review-stars{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                padding: 0;
                margin: 10px 0;

                i{
                    margin-right: 5px;
                    color: $accent;
                }
            }

            span{
                font-size: 15px;
                font-weight: 500;
                font-family: $primaryFont;
                color: $primary-color;
            }

            form{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                p, input{
                    font-size: 15px;
                    font-weight: 500;
                    font-family: $primaryFont;
                    color: $primary-color;
                }

                p{
                    margin: 20px 0 10px 0;
                }

                input[type='text']{
                    width: 100%;
                    padding: 5px 10px;
                    border: none;
                    outline: none;
                    background: #f0f0f0;
                }

                span{
                    font-size: 12px;
                    margin: 15px 0;
                }

                button{
                    width: 100%;
                    border: none;
                    background: $primary-color;
                    font-size: 18px;
                    color: white;
                    font-weight: 700;
                    font-family: $primaryFont;
                    padding: 10px 0;
                    margin: 20px 0 0 0;
                    cursor: pointer;
                }

                button:hover{
                    background: $accent;
                }
            }
        }
    }
}