// Phone Queries

@media screen and (max-width: 580px) {
    // Navbar

    header{

        nav{

            ul{

                li{

                    a{
                        font-size: 12px;
                    }
                }
            }
        }
    }
   
    // Section: Landing section

   .landing{

        article{

            aside{
                width: 88vw;
                margin-top: 130px;


                h1{
                    font-size: 1.5em;
                }

                a{
                    margin: 110px 0 0 0;
                }
            }

            .centered-div{
                width: 90vw;
            }
        }
    } 

    // Section: Information section

    .information{

        .information-content{

            ul.information-ul{
                padding: 0 0 150px 0;

                li{

                    h5{
                        font-size: 0.8em;
                    }

                    p{
                        font-size: 0.6em;
                    }
                }
            }
        }
    }

    // Section: More prodcuts

    section.more-products{
        margin: -150px 0 0 0;

        figure{

            ul.more-products{

                li{

                    a{
                        font-size: 20px;
                    }
                }

                li.middle-category{
                    margin: 80px 0 0 0;
                }
            }
        }
    }

}

@media screen and (max-width:426px) {

    // Section: Landing section

    .landing{
        background-position: 65% 0%;

        article{

            aside{
                padding: 0 50px;
                h1{
                    font-size: 35px;
                    text-align: center;
                }

                p{
                    font-size: 4.5vw;
                }

                a{
                    font-size: 16px;
                }
            }

            .centered-div{
                
                img{
                    opacity: 50%;
                }
            }
        }
    }

    // Section: Information section

    .information{

        .information-content{

            ul.information-ul{
                margin: 30px 0 0 0;
                padding: 0;

                li{
                    width: 100%;

                    h5{
                        font-size: 25px;
                    }

                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }

    // Section: More prodcuts

    section.more-products{
        margin: 0;

        figure{

            ul.more-products{
                flex-direction: column;
                align-items: center;

                li{
                    margin: 40px 0;
                    width: 100%;

                    img.products{
                        width: 75%;
                    }

                    a{
                        font-size: 25px;
                    }
                }

                li.middle-category{
                    margin: 0;
                }
            }
        }
    }

    //Trending and Other Products

    section.trending-other-products{

        .trending-other-content{

            h2{
                font-size: 35px;
            }

            ul{
                flex-direction: column;

                li{
                    width: 100%;
                    font-size: 20px;
                    margin: 20px 0;
                    
                    .products-image{
                        max-width: 75%;

                        img{
                            max-width: 100%;
                            max-height: 90%;
                        }
                    }

                    a{
                        font-size: 20px;
                        padding: 15px 40px;
                    }
                }
            }
        }
    }

    //Company Information

    section.company-information{

        ul{

            li{
                width: 45%;
                margin: 6px 0;
                padding: 50px 0;

                h3{
                    font-size: 45px;
                }

                h5{
                    font-size: 20px;
                }
            }
        }
    }

    //Most bought items 

    section.most-bought{

        article{

            h2{
                font-size: 28px;
            }

            .about-item{

                figure{
                    width: 90%;
                }

                .item-description{

                    h3{
                        font-size: 20px;
                    }

                    h5{
                        font-size: 16px;
                    }
                }
            }
        }
    }

    //Testimonial Section

    section.testimonials{

        .testimonial-area{
            
            h2{
                font-size: 30px;
                margin: 0;
            }

            .testimonial{

                img{
                    width: 40%;
                }

                .testimonial-content{

                    h5{
                        font-size: 20px;
                    }
                }
            }
        }
    }

    //Subscribe Section

    section.subscribe{

        .subscribe-content{

            .subscribe-text{
                display: flex;
                justify-content: center;

                h2{
                    font-size: 35px;
                    width: 90%;
                }
            }

            .subscribe-btn{

                a{
                    font-size: 20px;
                }
            }
        }
    }

    //Recommended Product

    section.recommended-product{

        .recommended{

            .product-info{

                a{
                    font-size: 20px;
                    padding: 20px 40px;
                }
            }
        }
    }

    //Footer

    footer{

        .footer-area{

            .upper-area{

                .footer-links{

                    .social-media{

                        .icons{
                            width: 100%;
                        }
                    }

                   .other-links{
                       flex-direction: column;
                       align-items: center;

                       ul{
                           width: 90%;
                           margin: 20px 0;

                            h4{
                                font-size: 22px;
                            }

                            li{

                                a{
                                    font-size: 18px;
                                }
                            }
                       }
                   } 
                }
            }

            .bottom-area{

                p{
                    font-size: 14px;
                }

                a{
                    font-size: 14px;
                }
            }
        }
    }
    
}