p {
  line-height: 26px;
}

@media screen and (max-width: 1140px) {
  .landing article aside h1 {
    font-size: 2.7em;
    line-height: normal;
  }
  .landing article aside p {
    font-size: 1em;
  }
  .landing article aside a {
    font-size: 1.25em;
  }
  .landing article .centered-div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing article .centered-div img {
    margin: 0;
  }
}

@media screen and (max-width: 991px) {
  section.about-us .orange-box {
    display: none;
  }
  section.about-us div.content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.about-us div.content .responsive-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.about-us div.content .responsive-image img {
    display: block;
    width: 80%;
  }
  section.about-us div.content aside {
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.about-us div.content figure {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .information .information-content ul.information-ul {
    padding: 0 0 250px 0;
  }
  .information .information-content ul.information-ul li h5 {
    font-size: 1.5em;
  }
  .information .information-content ul.information-ul li p {
    font-size: 1em;
  }
  section.more-products {
    margin: -250px 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  header nav.navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header nav.navbar ul {
    display: none;
  }
  header nav.navbar .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 20px;
    z-index: 2;
  }
  header nav.navbar .hamburger button {
    background: transparent;
    outline: none;
    border: none;
  }
  header nav.navbar .hamburger button i {
    font-size: 35px;
  }
  .landing article {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .landing article aside {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .landing article aside h1 {
    font-size: 2em;
    line-height: normal;
  }
  .landing article aside p {
    text-align: center;
  }
  .landing article .centered-div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing article .centered-div img {
    margin: 0;
  }
  .information .information-content ul.information-ul {
    padding: 0 0 200px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .information .information-content ul.information-ul li {
    width: 40%;
    margin: 20px;
  }
  .information .information-content ul.information-ul li h5 {
    font-size: 1.15em;
  }
  .information .information-content ul.information-ul li p {
    font-size: 0.8em;
    width: 100%;
  }
  section.more-products {
    margin: -200px 0 0 0;
  }
  section.more-products figure ul.more-products li a {
    font-size: 20px;
  }
  section.about-us div.content aside {
    padding: 0 20px;
  }
  section.about-us div.content aside p {
    font-size: 16px;
  }
  section.about-us div.content aside ul li {
    font-size: 16px;
  }
  section.about-us div.content aside a {
    font-size: 20px;
  }
}
/*# sourceMappingURL=responsive(768+).css.map */