// Phone Queries

@media screen and (max-width: 580px) {
    // Navbar

    header{

        nav{

            ul{

                li{

                    a{
                        font-size: 12px;
                    }
                }
            }
        }
    }
   
    // Section: Landing section

   .landing{

        article{

            aside{
                width: 88vw;


                h1{
                    font-size: 1.5em;
                }
            }

            .centered-div{
                width: 90vw;
            }
        }
    } 

    // Section: Information section

    .information{

        .information-content{

            ul.information-ul{
                padding: 0 0 150px 0;

                li{

                    h5{
                        font-size: 0.8em;
                    }

                    p{
                        font-size: 0.6em;
                    }
                }
            }
        }
    }

    // Section: More prodcuts

    section.more-products{
        margin: -150px 0 0 0;

        figure{

            ul.more-products{

                li{

                    a{
                        font-size: 20px;
                    }
                }

                li.middle-category{
                    margin: 80px 0 0 0;
                }
            }
        }
    }

}

@media screen and (max-width:426px) {

    // Section: Landing section

    .landing{
        background-position: 65% 0%;

        article{

            aside{

                h1{
                    font-size: 6vw;
                }

                p{
                    font-size: 4.5vw;
                }

                a{
                    font-size: 5vw;
                }
            }

            .centered-div{
                // display: none;
            }
        }
    }

    // Section: Information section

    .information{

        .information-content{

            ul.information-ul{
                margin: 30px 0 0 0;
                padding: 0;

                li{
                    width: 100%;

                    img{
                        // width: 30px;
                    }

                    h5{
                        font-size: 25px;
                    }

                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }

    // Section: More prodcuts

    section.more-products{
        margin: 0;

        figure{

            ul.more-products{
                flex-direction: column;
                align-items: center;

                li{
                    margin: 40px 0;
                    width: 100%;

                    img.products{
                        width: 75%;
                    }

                    a{
                        font-size: 25px;
                    }
                }

                li.middle-category{
                    margin: 0;
                }
            }
        }
    }
}