//Importing Variables

@import 'style';

// Tablet Queries

@media screen and (max-width: 1140px) {
    // Landing section
    
    .landing{

        article{


            aside{

                h1{
                    font-size: 2.7em;
                    line-height: normal;
                }

                p{
                    font-size: 1em;
                }

                a{
                    font-size: 1.25em;
                }
            }

            .centered-div{
                justify-content: center;

                img{
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    // Information Section
    
    .information{

        .information-content{

            ul.information-ul{
                padding: 0 0 250px 0;

                li{

                    h5{
                        font-size: 1.5em;
                    }

                    p{
                        font-size: 1em;
                    }
                }
            }
        }
    }

    // More Products

    section.more-products{
        margin: -250px 0 0 0;
    }
}

@media screen and (max-width: 768px) {
    //navbar

    header{

        nav.navbar{
            justify-content: space-between;
            
            ul{
                display: none;
            }

            .hamburger{
                display: flex;
                align-items: center;
                margin: 0 20px;
                z-index: 2;

                button{
                    background: transparent;
                    outline: none;
                    border: none;

                    i{
                        font-size: 35px;
                        color: $primary-color;
                    }
                }
            }

        }

    }

    // Section: Landing section

    .landing{

        article{
            justify-content: center;
            align-items: center;


            aside{
                width: 100%;
                align-items: center;
                margin: 0;

                h1{
                    font-size: 2em;
                    line-height: normal;
                }

                p{
                    text-align: center;
                }
            }

            .centered-div{
                justify-content: center;

                img{
                    margin: 0;
                }
            }
        }
    }

    // Section: Information Section

    .information{

        .information-content{

            ul.information-ul{
                padding: 0 0 200px 0;
                flex-wrap: wrap;

                li{
                    width: 40%;
                    margin: 20px;

                    h5{
                        font-size: 1.15em;
                    }

                    p{
                        font-size: 0.8em;
                        width: 50%;
                    }
                }
            }
        }
    }

    // Section: More prodcuts

    section.more-products{
        margin: -200px 0 0 0;

        figure{

            ul.more-products{

                li{

                    a{
                        font-size: 20px;
                    }
                }
            }
        }
    }

}