@media screen and (max-width: 1140px) {
  .landing article aside h1 {
    font-size: 2.7em;
    line-height: normal;
  }
  .landing article aside p {
    font-size: 1em;
  }
  .landing article aside a {
    font-size: 1.25em;
  }
  .landing article .centered-div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing article .centered-div img {
    margin: 0;
  }
  section.trending-other-products .trending-other-content ul li {
    font-size: 25px;
  }
  section.company-information ul li h3 {
    font-size: 60px;
  }
  section.company-information ul li h5 {
    font-size: 30px;
  }
  section.subscribe .subscribe-content .subscribe-text h2 {
    font-size: 40px;
  }
  footer .footer-area .upper-area .footer-links .social-media .icons p {
    font-size: 18px;
  }
  footer .footer-area .upper-area .footer-links .other-links ul h4 {
    font-size: 18px;
  }
  footer .footer-area .upper-area .footer-links .other-links ul li a {
    font-size: 14px;
  }
  footer .footer-area .bottom-area a {
    font-size: 14px;
  }
  footer .footer-area .bottom-area p {
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  section.about-us .orange-box {
    display: none;
  }
  section.about-us div.content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.about-us div.content aside {
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.about-us div.content aside .responsive-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.about-us div.content aside .responsive-image img {
    display: block;
    width: 80%;
  }
  section.about-us div.content aside h2 {
    margin-bottom: 30px;
  }
  section.about-us div.content figure {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .information .information-content ul.information-ul {
    padding: 0 0 250px 0;
  }
  .information .information-content ul.information-ul li h5 {
    font-size: 1.5em;
  }
  .information .information-content ul.information-ul li p {
    font-size: 1em;
  }
  section.more-products {
    margin: -250px 0 0 0;
  }
  section.trending-other-products .trending-other-content ul li {
    font-size: 20px;
  }
  section.trending-other-products .trending-other-content ul li a {
    font-size: 20px;
    padding: 20px 40px;
  }
  section.most-bought article h2 {
    font-size: 50px;
  }
  section.most-bought article .about-item .item-description h3 {
    font-size: 25px;
  }
  section.most-bought article .about-item .item-description a {
    padding: 15px 40px;
    font-size: 20px;
  }
  section.most-bought article .about-item .item-description .interact-buttons button {
    padding: 15px;
  }
  section.subscribe .subscribe-content .subscribe-text h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 768px) {
  header #hamburger {
    display: block;
  }
  header nav.navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header nav.navbar ul {
    display: none;
  }
  header nav.navbar .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 20px;
    z-index: 2;
  }
  header nav.navbar .hamburger button {
    background: transparent;
    outline: none;
    border: none;
  }
  header nav.navbar .hamburger button i {
    font-size: 35px;
  }
  .landing article {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .landing article aside {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .landing article aside h1 {
    font-size: 2em;
    line-height: normal;
  }
  .landing article aside p {
    text-align: center;
  }
  .landing article .centered-div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing article .centered-div img {
    margin: 0;
  }
  .information .information-content ul.information-ul {
    padding: 0 0 200px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .information .information-content ul.information-ul li {
    width: 40%;
    margin: 20px;
  }
  .information .information-content ul.information-ul li h5 {
    font-size: 1.15em;
  }
  .information .information-content ul.information-ul li p {
    font-size: 0.8em;
    width: 100%;
  }
  section.more-products {
    margin: -200px 0 0 0;
  }
  section.more-products figure ul.more-products li a {
    font-size: 20px;
  }
  section.about-us div.content aside {
    padding: 0 20px;
  }
  section.about-us div.content aside p {
    font-size: 16px;
  }
  section.about-us div.content aside ul li {
    font-size: 16px;
  }
  section.about-us div.content aside a {
    font-size: 20px;
  }
  section.trending-other-products .trending-other-content h2 {
    font-size: 45px;
  }
  section.trending-other-products .trending-other-content ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section.trending-other-products .trending-other-content ul li {
    width: 45%;
    font-size: 20px;
  }
  section.trending-other-products .trending-other-content ul li h4 {
    width: 90%;
  }
  section.trending-other-products .trending-other-content ul li .products-image {
    max-height: 246px;
  }
  section.trending-other-products .trending-other-content ul li .products-image img {
    max-width: 70%;
    max-height: 80%;
  }
  section.trending-other-products .trending-other-content ul li a {
    font-size: 20px;
    padding: 15px 30px;
    margin: 20px 0 40px 0;
  }
  section.company-information ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section.company-information ul li {
    width: 45%;
    margin: 20px 0;
  }
  section.most-bought article h2 {
    font-size: 40px;
  }
  section.most-bought article .about-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.most-bought article .about-item figure {
    width: 75%;
  }
  section.most-bought article .about-item .item-description {
    margin-top: 30px;
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.most-bought article .about-item .item-description h5 {
    font-size: 14px;
    text-align: center;
  }
  section.most-bought article .about-item .item-description h3 {
    font-size: 28px;
    margin: 20px 0;
  }
  section.most-bought article .about-item .item-description .interact-buttons {
    margin-bottom: 20px;
  }
  section.most-bought article .about-item .item-description .interact-buttons button {
    padding: 5px;
  }
  section.most-bought article .about-item .item-description .interact-buttons button:not(:first-child):not(:last-child) {
    padding: 0 15px;
  }
  section.testimonials .testimonial-area h2 {
    font-size: 40px;
  }
  section.testimonials .testimonial-area .testimonial img {
    width: 20%;
  }
  section.testimonials .testimonial-area .testimonial .testimonial-content {
    width: 90%;
  }
  section.testimonials .testimonial-area .testimonial .testimonial-content h5 {
    margin-top: 40px;
  }
  section.subscribe .subscribe-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #FFDAC5 url(../images/enevelope.png) center no-repeat;
  }
  section.subscribe .subscribe-content .subscribe-text {
    width: 100%;
  }
  section.subscribe .subscribe-content .subscribe-text h2 {
    text-align: center;
  }
  section.subscribe .subscribe-content .subscribe-btn {
    width: 100%;
    background: none;
  }
  section.recommended-product {
    background-position: right;
  }
  section.recommended-product .recommended {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.recommended-product .recommended .product-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  footer {
    margin: 150px 10px 20px 10px;
  }
  footer .footer-area .upper-area {
    margin: 20px 0;
  }
  footer .footer-area .upper-area figure {
    display: none;
  }
  footer .footer-area .upper-area .footer-links {
    width: 100%;
  }
  footer .footer-area .upper-area .footer-links .social-media {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
  footer .footer-area .upper-area .footer-links .social-media hr {
    display: none;
  }
  footer .footer-area .upper-area .footer-links .social-media .icons {
    width: 70%;
  }
  footer .footer-area .upper-area .footer-links .social-media .icons a {
    margin: 0 2px;
  }
  footer .footer-area .upper-area .footer-links .social-media .icons p {
    font-size: 18px;
  }
  footer .footer-area .upper-area .footer-links .other-links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer-area .upper-area .footer-links .other-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-area .upper-area .footer-links .other-links ul h4 {
    font-size: 16px;
  }
  footer .footer-area .upper-area .footer-links .other-links ul li {
    text-align: center;
  }
  footer .footer-area .upper-area .footer-links .other-links ul li a {
    font-size: 14px;
  }
  footer .footer-area .bottom-area {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footer-area .bottom-area a {
    font-size: 16px;
    margin: 15px 5px;
  }
  footer .footer-area .bottom-area p {
    font-size: 16px;
    margin: 15px 5px;
  }
}
/*# sourceMappingURL=responsive(768+).css.map */